*{
	font-family: "微软雅黑";
}
p{
	  word-break: break-all;
}
.container-fluid{
	padding: 0;
}
.header-top{
	font-size: 12px;
	height: 35px;
	line-height: 35px;
}
.search-box{
	width: 295px;
	float: right;
	margin-top: 10px;
}
#nav{
	background: #0B3967;
	margin: 0;
	margin-bottom:0;
}
#nav a{
	color: #fff;
	
}

#nav a:hover{
	background: #13487E;
}


.main_content{
	margin-top: 40px;
	
}
.main_content .section1 .left_main img{
	width: 100%;
	display: block;
}

.main_content .section1 .right_main h4{
	margin: 0;
	font-weight: bold;
	color: #0B3967;
}
.main_content .section1 .right_main h4 small{
	margin: 0;
	font-weight: normal;
	color: #333;
}
.main_content .section1 .right_main h5{
	margin: 0;
	margin-top: 20px;
}
.main_content .section1 .right_main h5 span{
	float: right;
}
.main_content .section1 dl{
	margin: 15px 0;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.main_content .section1 .right_main p{
	height: 35px;
	overflow: hidden;
	margin: 12px 0;
}
.main_content .section1 .right_main a{
	float: right;
	font-size: 12px;
}




.main_content .section2 .left_main img{
	width: 100%;
	display: block;
}

.main_content .section2 .left_main h4{
	margin: 0;
	font-weight: bold;
	color: #0B3967;
}
.main_content .section2 .left_main h4 small{
	margin: 0;
	font-weight: normal;
	color: #333;
}
.main_content .section2 dl{
	margin: 15px 0;
	padding: 10px 0;
}
.main_content .section2 .left_main a{
	float: right;
	font-size: 12px;
}

.main_content .section2 .right_main li{
	list-style: none;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc; 
}
.main_content .section2 .right_main li span{
	float: right;
}
.main_content .section2 .right_main .btn-group{
	float: right;
}
